@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --cor-00: #F7F7F7; /* Fundo da pagina */
    --cor-01: #b5fce4; /* Fundo leve */
    --cor-02: #343A40; /* texto */
    --cor-03: #FF5722; /* Aviso */
    --cor-04: #00008b; /* Header */
    --cor-05: #007BFF; /* Botao */
    --cor-06: #9228a7; /* Botao Chamada */
    --sombra: 0 0.3rem 1rem 0.001rem rgba(0, 0, 0, 0.1)
}

*{
    font-family: "roboto", Arial, Helvetica, sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
img{
    border-radius: 2rem;
}

body{
    background-color: var(--cor-00);
    color: var(--cor-02);
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cor-04);
    padding: 1rem 2rem;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: var(--sombra);
}

nav .logo a{
    color: var(--cor-03);
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
}

nav .menu{
    list-style: none;
    display: flex;
    gap: 2rem;
}

nav .menu li a{
    color: var(--cor-03);
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
}

nav .menu li a:hover{
    color: var(--cor-06);
    transition: 0.5s;
}

#hero-section{
    position: relative;
    height: 100vh;
    background: url(../img/empresaria.jpg) no-repeat center top/cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content{
    text-align: center;
    background-color: #050e1f8c;
    color: var(--cor-00);
    padding: 2rem;
    border-radius: 10px;
    max-width: 90%;
    margin: auto;
}

.hero-content h1{
    font-size: 3rem;
    margin-bottom: 1rem;
}

.info{
    display: flex;
    flex-direction: row;
}

.info div{
    padding: 2rem;
    flex: 1;
}

.info img{
    width: 100%;
}

.info p{
    text-align: justify;
}

#produto-mapa{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem;
    margin: 100px 0;
}

#produto{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
    flex: 1;
}

#produto img{
    width: 100%;
    /* border-radius: 0.5rem; */
    transition: transform 0.3s, box shadow 0.3s;
    box-shadow: var(--sombra);
}

#produto img:hover{
    transform: scale(1.05);
    box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.687);
}

#mapa-container{
    flex: 1;
    border-radius: 2rem;
    box-shadow: var(--sombra);
}



#avaliacao{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 2rem;
    padding: 2rem;
}

#avaliacao article{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--cor-05);
    padding: 1rem;
    border-radius: 0.5rem;
    transition: background-color 0.3s, transform 0.3s;
}

#avaliacao article:hover{
    background-color: var(--cor-01);
    transform: translate(-5xp);
}

#avaliacao article img{
    width: 120px;
    /* margin-right: 1rem; */
    /* border-radius: 0.5rem; */
}

#avaliacao article button{
    /* margin-left: 1rem; */
    padding: 0.5rem 1rem;
    background-color: var(--cor-01);
    color: var(--cor-02);
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

#avaliacao article button:hover{
    background-color: var(--cor-04);
    transition: 0.5s;
    color: var(--cor-00);
}

#avaliacao h3{
    display: flex;
    align-items: center;
    justify-content: center;
}

footer{
    display: flex;
    /* flex: 1; */
    justify-content: space-around;
    background-color: var(--cor-03);
    height: 15rem;
    align-items: center;
}

footer div{
    display: flex;
    gap: 15px;
    flex-direction: column;
}

footer div li{
    list-style: none;
}

footer div li a{
    text-decoration: none;
    color: var(--cor-00);
    /* background-color: var(--cor-05); */
    padding: 0.5rem;
}

footer div li a:hover{
    transition: 0.3s;
    color: var(--cor-06);
}
/* Configurando para outras telas */

@media (max-width: 768px) {
    nav .menu{
        display: none;
    }
}